{{ define "main" }}
<article class="markdown book-post">
  <h1>
    <a href="{{ .RelPermalink }}">{{ partial "docs/title.html" . }}</a>
  </h1>
  {{ partial "docs/post-meta" . }}
  {{- .Content -}}
</article>
<style>
  hr {
      border-color: rgb(233, 225, 225);
  }
  </style>
<hr />
<div class="post-nav" style="display: flex; justify-content: space-between;">
  {{ with .PrevInSection }}
    <a href="{{ .Permalink }}" ><< 上一篇 | {{ .Title | truncate 20 "..."}}</a>
  {{ end }}
  {{ with .NextInSection }}
    <a href="{{ .Permalink }}" >{{ .Title | truncate 20 "..."}} ｜ 下一篇 >></a>
  {{ end }}
</div>
<hr />
{{ end }}

{{ define "toc" }}
  {{ partial "docs/toc" . }}
{{ end }}
