/* You can add custom styles here. */

// @import "plugins/numbered";
.post-box {
    border: 1px solid #a7a4a4;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  }

.taxonomy-cloud {
  display: inline-block;
  font-size: $font-size-12;
  color: var(--color-link);
  line-height: 20px;
  border: 0;
  border-radius: $border-radius;
  padding: 0 1px;
  margin: 2px;
  cursor: pointer;

  &:hover {
    text-decoration: none;
    filter: drop-shadow(0.3px 0.3px 0.3px var(--color-link));
  }
}
